<header class="hero-area hero-area--top-nav">
	<img src="{{ theme.path }}/static/imgs/hero-area__feat-img.jpg" alt="Leviathan @ Canada's Wonderland" class="hero-area__feat-img">
	<div class="container hero-area__container">
		<div class="row hero-area__row">
			<div class="col-md-8 col-sm-10">
				<div class="text-box text-box--content-centered hero-area__text-box">
					<h1 class="text-box__title">Sébastien Champoux</h1>
					<div class="text-box__separation"></div>
					<h2 class="text-box__subtitle">{{ __('Intégrateur et développeur web', 'portfolio') }}</h2>
					<a href="javascript:;" class="button">{{ __('Mes projets', 'portfolio') }}</a>
				</div>
			</div>
		</div>
	</div>
</header>