.button {
	border: none;
	display: inline-block;
	padding: 25px 55px;
	background-color: $color-accent-primary;

	text-align: center;
	color: $color-light-primary;
	font-size: calculateRem(24px);
	letter-spacing: 3px;
	font-weight: $font-weight-light;
	text-transform: uppercase;
	text-decoration: none;

	position: relative;

	transition: 50ms all ease-out;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid $color-dark-primary;

		position: absolute;
		top: -5px;
		left: -5px;

		pointer-events: none;

		transition: 0.2s all ease-out;
	}

	&:hover {
		color: $color-light-primary;
		text-decoration: none;
		cursor: pointer;

		&::after {
			top: 0;
			left: 0;
		}
	}

	&:active {
		background-color: darken($color-accent-primary, 5%);
	}

	@include at-most(bp(sm)) {
		padding: 20px 35px;
		font-size: calculateRem(18px);
	}
}

.button--size--full {
	width: 100%;
	padding: 25px 0;
}

.button--size-small {
	font-size: calculateRem(18px);
	padding: 15px 30px;

	&::after {
		top: -3px;
		left: -3px;
	}
}

.button--link {
	background-color: transparent;
	padding: 10px 0;

	color: $color-accent-primary;
	font-weight: $font-weight-normal;
	font-family: $font-family-title-primary;
	letter-spacing: normal;

	&:hover {
		color: darken($color-accent-primary, 5%);
	}

	&:active {
		background-color: transparent;
		color: darken($color-accent-primary, 10%);
	}

	&::after {
		content: none;
	}
}

.button__icon {
	margin-right: $button-iconMargin;
}

// Si l'icône est à droite du texte du bouton plutôt qu'à sa gauche
.button__icon--after-text {
	margin-right: 0;
	margin-left: $button-iconMargin;
}