.main-nav {
	position: relative;

	@include at-most(bp(sm)) {
		display: flex;
		flex-direction: row-reverse;
	}
}

.main-nav__option {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;

	transition: 0.2s all ease-out;
	
	&:hover {
		cursor: pointer;
	}

	@include at-most(bp(lg)) {
		padding: 25px;
	}

	@include at-most(bp(sm)) {
		padding: 20px;
	}
}

.main-nav__option--burger {
	background-color: $color-accent-primary;

	&:hover {
		background-color: darken($color-accent-primary, 8%);
	}
}

.main-nav__option--email {
	background-color: $color-dark-primary;

	&:hover {
		background-color: #000;
	}
}

.main-nav__option--lang {
	padding: 2rem;
	
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: $font-weight-light;

	&:hover {
		text-decoration: none;
	}
}