.main-nav {
	height: $nav-height;
	transition: 0.2s all ease-out;
	position: relative;
	background-color: $nav-bgcolor;

	@include at-most(bp($nav-mobileBP)) {
		width: 70px;
	}
}

.main-nav--page-scrolled {
	@extend %drop-shadow;
	background-color: $nav-bgcolor;
}

.main-nav__container {
	display: flex;
	justify-content: flex-end;

	height: 100%;
}

.main-nav__menu-wrapper {
	max-width: 100%;

	@include at-most(bp($nav-mobileBP)) {
		width: 400px;
		background-color: $nav-bgcolor;

		padding-top: $nav-height;
		height: 100vh;

		position: fixed;
			top: 0;
			right: -100%;
	}
}