.project {
	padding: 0;
	margin: 0;
}

// Elems
.project__container {
	min-height: 100vh;
	display: flex;
	align-items: center;

	padding-bottom: calc(#{$projectsNav-height} + 30px);
	padding-top: 20px;
}

.project__row {
	justify-content: space-around;
	align-items: center;
}

.project__img {
	width: 700px;
	max-width: 100%;
}

.project__title {
	@extend %underlined-title;
}

.project__contexte-realisation {
	color: rgba($color-dark-primary, 0.5);
	font-weight: $font-weight-bold;
}

.project__description {
	margin-bottom: 30px;
}

.project__tools {
	margin-bottom: 20px;
}

.project__button-wrapper {
	text-align: center;
}