.a-propos__bg-coaster {
	width: 75%;

	position: absolute;
	bottom: -80px;
	left: 0;

	@include at-most(bp(lg)) {
		width: 100%;
	}

	@include at-most(bp(md)) {
		width: 150%;
		bottom: 0;
	}

	@include at-most(bp(sm)) {
		width: 200%;
	}
}