.button {
	border: none;
	display: inline-block;
	padding: 25px 55px;
	background-color: $color-accent-primary;

	text-align: center;
	color: $color-light-primary;
	font-size: calculateRem(24px);
	letter-spacing: 3px;
	font-weight: $font-weight-light;
	text-transform: uppercase;
	text-decoration: none;

	position: relative;

	transition: 50ms all ease-out;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid $color-dark-primary;

		position: absolute;
		top: -5px;
		left: -5px;

		pointer-events: none;

		transition: 0.2s all ease-out;
	}

	&:hover {
		color: $color-light-primary;
		text-decoration: none;

		&::after {
			top: 0;
			left: 0;
		}
	}

	&:active {
		background-color: darken($color-accent-primary, 5%);
	}
}


// Mods
.button--size--full {
	width: 100%;
	padding: 25px 0;
}