.competences {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

// Elems
.competences__item {
	padding: 0;
	margin: 0 0 20px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.competences__icon {
	max-height: 50px;
	max-width: 40px;
	opacity: 0.65;
}

.competences__bande {
	width: 90%;
	background-color: $color-neutral-primary;
	height: 15px;

	@include at-most(bp(xl)) {
		width: 85%;
	}
}

.competences__bande-fill {
	height: 100%;
	background-color: $color-accent-secondary;
}