.contact-form {
	width: $contactForm-width;
	max-width: 100%;
	height: 100vh;

	background-color: $color-light-primary;
}

.contact-form--top-nav-pd {
	padding-top: $nav-height;

	.contact-form__close-btn {
		top: $nav-height;
	}
}

.contact-form__close-btn {
	border: none;
	background-color: transparent;
	outline: none;

	padding: 10px;

	position: absolute;
	top: 0;
	right: 0;

	font-size: $font-size-title-3;
	
	&:hover {
		cursor: pointer;
	}
}

.contact-form__container {
	padding: 15px;
	box-shadow: inset 5px 5px 20px 0 rgba(0,0,0,0.4);
	height: 100%;
}

.contact-form__title {
	font-size: $font-size-title-3;
}

.contact-form__subtitle {
	font-size: calculateRem(18px);
	color: rgba($color-dark-primary, 0.6);
	font-style: italic;

	margin-bottom: 30px;
}