.cv-contact {
	padding: 80px 0;
}


// Elems
.cv-contact__button-wrapper {
	text-align: center;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.cv-contact__email {
	text-align: center;
	@extend .h3;

	@include at-most(bp(sm)) {
		font-size: $font-size-title-6;
	}
}