.hero-area {
	position: relative;
}

// Elems
.hero-area__feat-img {
	@extend %responsive-image;

	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.hero-area__container {
	height: 100%;
	align-items: center;
	justify-content: flex-end;
}