.loading {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: $color-neutral-primary;
}

// Elems
.loading__animation {
	margin-bottom: 60px;
}

.loading__text {
	text-align: center;
	font-size: $font-size-title-4;
	text-transform: uppercase;
	line-height: 125%;
}