.main-nav {
	height: $nav-height;

	background-color: $nav-bgcolor;

	position: relative;
}

// Elements
.main-nav__container {
	display: flex;
	justify-content: space-between;

	height: 100%;
}

.main-nav__menu-wrapper {
	max-width: 100%;

	@include at-most(bp($nav-mobileBP)) {
		width: 400px;
		background-color: $nav-bgcolor;

		padding-top: $nav-height;
		height: 100vh;

		position: fixed;
			top: 0;
			right: 0;
	}
}

.main-nav__menu {
	height: 100%;

	@include at-most(bp($nav-mobileBP)) {
		height: auto;
	}
}

.main-nav__reseaux-sociaux {

	.reseaux-sociaux__link {
		font-size: $font-size-title-4;
		padding: 15px;
	}

	@include at-least(bp($nav-mobileBP)) {
		display: none;
	}
}

.main-nav__hamburger {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	@include at-least(bp($nav-mobileBP)) {
		display: none;
	}
}

// Modifiers
.main-nav--page-scrolled {
	@extend %drop-shadow;
}