.main-nav {
	height: $nav-height;

	transition: 0.2s all ease-out;

	background-color: $nav-bgcolor;

	position: relative;
}

.main-nav--page-scrolled {
	@extend %drop-shadow;
}

.main-nav__container {
	display: flex;
	justify-content: space-between;

	height: 100%;
}

.main-nav__menu-wrapper {
	max-width: 100%;

	@include at-most(bp($nav-mobileBP)) {
		width: 400px;
		background-color: $nav-bgcolor;

		padding-top: $nav-height;
		height: 100vh;

		position: fixed;
			top: 0;
			right: 0;
	}
}