.main-nav {
	height: $nav-height;

	background-color: $nav-bgcolor;

	position: relative;
}

// Elements
.main-nav__container {
	display: flex;
	justify-content: space-between;

	height: 100%;
}

.main-nav__menu {
	@include at-most(bp('lg')) {
		display: none;
	}
}

.main-nav__hamburger {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	
	@include at-least(bp('lg')) {
		display: none;
	}
}

// Modifiers
.main-nav--page-scrolled {
	@extend %drop-shadow;
}