<section class="project">
	<div class="container-fluid project__container">
		<div class="row project__row">
			<div class="col-xl-5 col-lg-6 project__image-wrapper">
				<p>hello</p>
				<img src="" alt="" class="project__img">
			</div>
			<div class="col-xl-5 col-lg-6">
				<h1 class="project__title">PROJECT TITLE</h1>
				<p class="project__contexte-realisation">CONTEXTE RÉALISATION</p>
				<div class="project__description">TEXTE DE PRÉSENTATION</div>
				<h2 class="project__subtitle">{{ __('Outils utilisés', 'portfolio') }}</h2>
				<ul class="project__tools">
					<li>OUTIL</li>
				</ul>
				<div class="project__button-wrapper">
					<a href="javascript:;" target="_blank" class="button">
						{{ __('Voir le projet', 'portfolio') }}
						<i class="icon-right-open-mini"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>