<nav class="main-nav page__main-nav ">
	<div class="container-fluid main-nav__container">

		{# Main menu #}
		<div class="main-nav__menu-wrapper">
			<ul class="menu main-nav__menu">
				<li class="menu__item">
					<a class="menu__link" href="javascript:;">LABEL</a>
				</li>
			</ul>
			<ul class="reseaux-sociaux main-nav__reseaux-sociaux">
				<li class="reseaux-sociaux__item">
					<a href="javascript:;">
						<i class="reseaux-sociaux__icon"></i>
					</a>
				</li>
			</ul>
		</div>

		{# Hamburger #}
		<div class="hamburger main-nav__hamburger hamburger--collapse">
			<div class="hamburger-box">
				<div class="hamburger-inner"></div>
			</div>
		</div>
	</div>
</nav>