.reseaux-sociaux {
	padding: 0;
	margin: 0;

	display: flex;
	flex-flow: row wrap;

	list-style-type: none;
}

.reseaux-sociaux--icons-centered {
	justify-content: center;
}

.reseaux-sociaux__item {
	margin: 0;
	padding: 0;
}

.reseaux-sociaux__link {
	display: block;
	padding: 15px 25px;

	color: $color-dark-primary;
	font-size: $font-size-title-1;

	transition: 0.15s color ease-out;

	&:hover {
		color: $color-accent-primary;
		text-decoration: none;
	}
}

.reseaux-sociaux__link--linked-in {
	&:hover {
		color: #0077b5;
	}
}

.reseaux-sociaux__link--behance {
	&:hover {
		color: #1769ff;
	}
}

.reseaux-sociaux__link--youtube {
	&:hover {
		color: #ff0000;
	}
}

.reseaux-sociaux__link--pinterest {
	&:hover {
		color: #bd081c;
	}
}

.reseaux-sociaux__link--size--small {
	font-size: $font-size-title-4;
	padding: 15px;
}

.reseaux-sociaux__link--color--inverted {
	color: $color-light-primary;
}