.section-cache {
	max-width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;

	position: relative;
	z-index: zindexes(sectionCache);
}

// Elems
.section-cache__path {
	fill: $color-neutral-primary;
}