%responsive-image-cover {
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover; object-position: center;';
}

%responsive-image-contain {
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain; object-position: center;';
}