{% block html_head_container %}

    {% include 'partial/html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
        {{ function('wp_footer') }}
    {% endblock %}
</body>
</html>
