{% block html_head_container %}
	{% include 'partials/header/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{ body_class }}" data-transition="wrapper">
<div class="page__content" data-transition="container" {% if template %}data-transition-namespace="{{ template }}"{% endif %}>
	{% block navigation %}
	{% endblock %}

	{% block header %}
	{% endblock %}

	{% block content %}
	{% endblock content %}

	{% block footer %}
	{% endblock %}
</div>
{{ function('wp_footer') }}
</body>
</html>
