{% block html_head_container %}
	{% include 'partials/header/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
{% block navigation %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% endblock content %}

{% block footer %}
{% endblock %}
{{ function('wp_footer') }}
</body>
</html>
