
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */