<article class="fiche-projet">
	<img class="fiche-projet__img">
	<div class="text-box text-box--padd--sm text-box--bg--darker fiche-projet__text-box">
		<h2 class="text-box__title text-box__title--boxed-top">TITRE PROJET</h2>
		<div class="text-box__text">COURTE PRÉSENTATION</div>
		<div class="text-box__text--align--rt">
			<a href="javascript:;" class="button button--link">
				{{ __('Plus d\'infos', 'portfolio') }}
				<i class="icon-right-open-mini button__icon button__icon--after-text"></i>
			</a>
		</div>
	</div>
</article>