<section class="galerie-projets" id="galerie-projets">
	<div class="container">
		<div class="row galerie-projets__row">
			<div class="col-12">
				<h1 class="galerie-projets__title">{{ __('Mes projets', 'portfolio') }}</h1>
			</div>
		</div>
		<div class="row galerie-projets__row">
			<div class="col-xl-8 col-lg-10">
				{% include 'partials/front-page/fiche-projet.twig' %}
			</div>
		</div>
	</div>
</section>